.header {
  display: flex;
  flex-direction: row;
}

.category {
  display: flex;
  flex-direction: row;
}

.menu {
  padding: 6px 18px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(113, 140, 67);
  height: 100%;
}

.active {
  background-color: #37383a;
  color: white;
  font-weight: 500;
}

/* 
.light {
  background-color: rgb(252, 215, 121);
}

.active,
.light {
  background-color: rgb(195, 216, 158);
} */

@media (prefers-color-scheme: light) {
  .menu.light {
    background-color: rgb(195, 216, 158);
  }

  .active.light {
    background-color: rgb(252, 215, 121);
  }
}
