.category {
  display: flex;
  flex-direction: row;
}

.menu {
  padding: 6px 18px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: rgb(113, 140, 67);
}

.active {
  background-color: #37383a;
  color: white;
  font-weight: 500;
}
