.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category {
  display: flex;
  flex-direction: row;
}

.menu {
  padding: 6px 18px;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
  color: var(--color-text-accent);
  height: 100%;
}

.active {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 500;
}

/* 
.light {
  background-color: rgb(252, 215, 121);
}

.active,
.light {
  background-color: rgb(195, 216, 158);
} */

@media (prefers-color-scheme: light) {
  .menu.light {
    background-color: rgb(195, 216, 158);
  }

  .active.light {
    background-color: rgb(252, 215, 121);
  }
}

.button {
  border: none;
  outline: none;
  background: transparent;
  padding-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
